

<div class="row">
  <nav class="navbar">    <div class="col-sm-8">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><%= link_to article.title, article_path(article), :action =>  :show %></h4>
        <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>  

        <br/>

        <br/>
        <!-- begin wwww.htmlcommentbox.com -->
       <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
       <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
       <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24v3fa%2FBflzoGRBJsmVSuL70"+"&opts=16862&num=10&ts=1466772410360");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->
        <% unless  %>
        <strong>Comments </strong>

        <%= render article.comments %>
        
        <% end %>
        
      </div>
      <div class="class-footer">
        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', article_path(article), :method =>  :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'btn btn-warning' %>
        
        
      </div>
      
      <div class="class-footer">
      </div>
    </div>
  </div>
</nav>
</div>


